@media screen and (max-width: 600px) {
   .section4 {
      height: 320px;
      width: 368px;
      text-align: center;   
   }
   .section4_backimg {
      background-image: url("../../Landing-assets/m_Screen_4_back.png");
      opacity: 0.8;
   }
   .section4_h4_1 {      
      font-size: 7.363px;
      letter-spacing: 0.1pt;
      width: 135px;
      padding-top: 47px;
   }
   .section4_h4_1 br:first-of-type {
       display: none;
   }
   .section4_h4_1 br:last-of-type  {
       display: block;
   }
   .section4_btn {
      border: 0;
      border-radius: 10px;
      background-image: -moz-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
      background-image: -webkit-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
      background-image: -ms-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
      width: 340px;
      height: 90px;
      color: #FFF;
      padding-top: 5px;
      margin-left: -2px;
      margin-top: 99px;
   }
   .section4_btn > span {
      padding: 2px;
      font-size: 20px;
      line-height: 1.25;
      letter-spacing: 0.1px;
   }
   .section4_btn > span > strong {
      font-size: 22px;
      letter-spacing: 0.3px;
   }
}