@media screen and (max-width: 1400px) {
    .section6 {
        height: 40vw;
    }
    .section6_box1, .section6_box2  {
        margin-left: 5vw;
        margin-right: 5vw;
    }    
    .section6_box2 {

        padding: 0;
    }    
    .section6_box1 > p {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .section6_box1, .section6_box2 {
        margin-top: 8vw;
    }
    .section6_btn_msg {
        margin-top: -5vw;
    }
    .section6_box1, .section6_box1 > p {
        margin-left: 4vw;
        padding: 0;
    }
    .section6_box2 {
        margin-left: 10vw;
    }    
    .section6_popup {
        width: 60vw;
        height: 10vw;
    }

}
@media screen and (max-width: 1024px) {
    .section6 {
        justify-content: center;        
        height: calc(20vw + 35px + 20vw );
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 13vw;
    }
    .section6_box1, .section6_box2 {
        height: auto;
        margin: 0 10vw;
    }
    .section6_box1 {
        margin-top: 4vw;
        margin-bottom: 2vw;
    }
    .section6_box1 > p {
        font-size: 2.5vw;
    }
    .section6_btn_msg {
        margin-left: 15px;
    }

}
@media screen and (max-width: 800px) {
    .section6 {
        height: calc(20vw + 90px + 20vw );
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 20vw;
    }
    .section6_box1, .section6_box2 {
        height: auto;
        margin-top: 0vw;
    }
    .section6_box1 {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    .section6_box1 > p {
        font-size: 2.8vw;
        letter-spacing: -0.2px;
    }
    .section6_popup {
        width: 80vw;
        height: auto;
    }

}
