@media screen and (max-width: 1439px) {
	.section5_flex {
	    justify-content: center;		
	}
	.section5_box {
		padding: 2vw 2vw 0 2vw;
	}

}



@media screen and (max-width: 1279px)  {
	.section5_h1 {
		width: 100vw;
	}
	.section5_h1 > p {
		font-size: 3vw;
	}
	.section5_flex {
		justify-content: center;
		align-items: flex-end;
		width: 90%;
		height: 25vw;
		margin: 0 auto;
	}
	.section5_box_msg br {
		display: none;
	}
	.section5_box {
	    padding: 0;

	    margin: 0 auto;
	}

	.section5_radiobox {
		display: none;
	}

	.section5_box_msg, .section5_box_msg > img {
		width: 100%;
	}

  	.section5_box_msg > p {
	    width: 88.5%;
	    padding: 6%;
	    font-size: 1.1vw;
	    line-height: 1.2;
	    letter-spacing: 0px;
	}

}



@media screen and (max-width: 1155px)  {

	.section5_flex {
		justify-content: center;
		align-items: flex-end;
		width: 97%;
		height: 24vw;
		margin: 3vw auto 0 auto;
	}
	.section5_box_msg, .section5_box_msg > img {
		width: 97%;
	}

  	.section5_box_msg > p {
	    width: 87%;
	    padding: 5%;
	    font-size: 1.15vw;
	}

}

@media screen and (max-width: 1080px)  {
  	.section5_box_msg > p {
	    padding: 6%;
	    font-size: 1.21vw;
	}

}
/*	При разрашении ниже 1024 пикс. секция переходит в слайдер с отображением одного элемента
	Данные корректировки прописаны в m_section5 */

