@media screen and (max-width: 1439px)  {
	.section4 {

	}
	.section4_h4_1 > br, .section4_h4_1 br:first-of-type {
		display: none;
	}
	.section4_h4_1 {
		width: 80%;
		margin: 0 auto;
		padding-top: 4vw;
		width: 70vw;
		height: auto;
	    -moz-hyphens: auto;
	    -webkit-hyphens: auto;
	    -ms-hyphens: auto;
	}

}
@media screen and (max-width: 1280px)  {
	.section4_btn {
		width: 33vw;
	}
	.section4_btn > span {
		font-size: 19px;
	}
	.section4_btn > span > strong {
		font-size: 21px;
	}
}
@media screen and (max-width: 1024px)  {
	.section4_btn {
		width: 340px;
	}
	.section4_h4_1 {
		width: 85%;
	}
}

