@media screen and (max-width: 1400px) {
    .section6 {
        height: 40vw;
    }
    .section6_box1, .section6_box2  {
        margin-left: 5vw;
        margin-right: 5vw;
    }    
    .section6_box2 {
        padding: 0;
    }    
    .section6_box1 > p {
        width: 35vw;
    }
    .section6_box1 > p > br {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .section6 {
        flex-direction: row;        
    }
    
    .section6_box1, .section6_box2 {
        margin-top: 8vw;
    }
    .section6_h1 > p > br {
        display: none;
    }
    .section6_btn_msg {
        margin-top: -5vw;
    }
    .section6_box1, .section6_box1 > p {
        margin-left: 4vw;
        padding: 0;
    }
    .section6_box2 {
        margin-left: 10vw;
    }    
    .section6_popup {
        width: 50vw;
        height: 10vw;
    }

}
@media screen and (max-width: 1024px) {
    .section6 {
        height: 50vw;
    }
     .section6 > *, .section6_box1 > p {
        padding: 0;
        margin: 0;
     }
    .section6_box1, .section6_box2 {
        margin: 9vw auto 0 auto;
    }
    .section6_box1, .section6_box2, .section6_btn, .section6_box2_email, .section6_box2 > p, .section6_btn_msg  {
        width: 40vw;
    }
    .section6_btn_msg {
        height: 50px;
        margin-top: -65px;
    }
    .section6_box2_email {
        margin-top: 35px;
        width: calc(40vw - 25px);
    }
    .section6_box1 {
        margin-bottom: 1vw;
    }
    .section6_box2 {

    }
    .section6_box1 > p {
        font-size: 2.6vw;
    }
    .section6_box2 > p {
        font-size: 1.6vw;
    }
    .section6_box1 > p, .section6_box2 > p {
        padding-left: 2vw;
    }        



}