.section6 {
    text-align: left;
    background: rgb(234, 127, 140) url(../../Landing-assets/D_Screen_6_back.png) ;
    width: 100%;
    height: 577px;
    border-bottom: 1px solid #FFF;
    display: flex;
    justify-content: left;
    padding: 0;
    margin-top: 0px;
}

.section6_box1 {
  margin-top: 145px;
	margin-left: 70px;
	padding-left: 115px;
}
.section6_box2 {
	padding-left: 0px;
  margin-left: 148px;
  margin-top: 84px;
  width: 400px;
}
.section6_box2 > input {
  margin-top: 3px;
}
.section6_box1 > p {
  font-size: 26px;
  color: rgb(255, 255, 255);
  line-height: 1.1;
  letter-spacing: -0.8px;
  text-align: left;
  width: 440px;
}
/*Стили области ввода*/
.section6_box2_email {
  border-radius: 10px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  width: 345px;
  height: 60px;
  border: 0;
  margin: 0;
  padding-left: 25px;
}
.section6_box2 > input::placeholder {
  font-size: 16px;
  color: rgb(144, 144, 144);
}
/*Стили для кнопки*/
.section6_btn {
  border-radius: 10px;
  border: 0px;
  background-image: -moz-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
  background-image: -webkit-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
  background-image: -ms-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
  width: 370px;
  height: 80px;
  -webkit-box-shadow: 0px 41px 40px -27px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 41px 40px -27px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 41px 40px -27px rgba(0, 0, 0, 0.44);
  margin-left: 0px;
  margin-top: 27px;
  padding-top: 1px;
  cursor: pointer;
}
.section6_btn:hover {
   -webkit-box-shadow: 0px 5px 19px 11px rgba(34, 60, 80, 0.2) inset;
   -moz-box-shadow: 0px 5px 19px 11px rgba(34, 60, 80, 0.2) inset;
   box-shadow: 0px 5px 19px 11px rgba(34, 60, 80, 0.2) inset;
}
.section6_btn > span {
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.083;
}
/*Стили надписи блока 2*/

.section6_box2  p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  letter-spacing: -0.2px;
  padding-left: 5px;
  padding-top: 20px;
}
/*Стили всплывающей подсказки*/
.section6_btn_msg {
    width: 370px;
    height: 80px;
    background: url(../../Landing-assets/D_Screen_6_btn_msg.png) no-repeat;
    background-size: 100% auto;
    transition: all 0.6s;
    opacity: 0;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -30px;
    padding-top: 15px;
    text-shadow: 3px 7px 4px rgba(224, 187, 173, 0.95);
}

/*Стили окна уведомлений*/
.section6_overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.section6_overlay:target {
  visibility: visible;
  opacity: 1;
}

.section6_popup {
  background-image: -moz-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
  background-image: -webkit-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
  background-image: -ms-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
  opacity: 0.9;
  margin: 20vw auto;
  padding: 2vw;
  -webkit-box-shadow: 0px 41px 40px -27px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 41px 40px -27px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 41px 40px -27px rgba(0, 0, 0, 0.44);
  border-radius: 5px;
  width: 35vw;
  height: 8vw;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section6_popup > h3, .section6_popup > a {
  color: #FFF;
  text-decoration: none;
}
.section6_popup > h3 {
    margin-top: 5%;
}
.section6_popup .section6_close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
}
.section6_popup .section6_close:hover {
  color: #06D85F;
}
.section6_message {
  color: white;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.2);
}
.section6_popup .section6_message {
  max-height: 30%;
  overflow: auto;
}
