.section2 {
    color: #FFF;
    height: 179px;
    padding: 0 0 0 0;
    width: 100%;
    padding-top: 59px;
    text-align: center;
}
.section2_flex {
    display: flex;
    justify-content: flex-start;

}
.section2_radiobox{
    display: none;
}
.section2_p {
    font-size: 16px;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 0 0 ;
    padding: 23px 0 0 0;
    letter-spacing: -0.2px;
    width: 180px;
}

.section2_box1     {
    order: 1;
    padding-top: 1px;
    padding-left: 145px;
}
.section2_box1 > p {
    padding-top: 21px;
    padding-left: 2px;
}

.section2_box2     {
    order: 2;
    padding-left: 43px;
    padding-top: 1px;
}
.section2_box2 > p {
    padding-top: 21px;
    padding-left: 1px;
}

.section2_box3     {
    order: 3;
    padding-left: 45px;
    padding-top: 1px;
}
.section2_box3 > p {
    width: 250px;
    padding-top: 21px;
    padding-left: 0px;
}

.section2_box4     {
    order: 4;
    padding-left: 67px;
    padding-top: 1px;
}
.section2_box4 > p {
    padding-top: 21px;
    padding-left: 0px;
}

.section2_box5     {
    order: 5;
    padding-top: 1px;
    padding-left: 54px;
}
.section2_box5 > p {
    padding-top: 21px;
    padding-left: 0px;
}

.section2_box:hover img {
    transition: transform .7s;
    transform: scale(1.2);
}

