.section3 {
    color: #000;
    height: 619px;
    padding: 0 0 0 0;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}
.section3_flex {
    padding: 0;
/*    width: 100%;*/
    height: 520px;
    display: flex;
    justify-content: flex-start;
    padding-top: 14px;
    margin-left: 159px;
    margin-right: 50px;
}
 
.section3_box {
    display: block;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section3_flex:nth-child(3) {
    width: 0;
}
.section3_h1 {
    font-weight: bold;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: -0.8pt;
    margin: 0;
    padding-top: 4px;    
    padding-left: 3px;
}
.section3_h1 > br, .section3_radiobox {
    display: none;
}

.section3_ellipse {
    border-radius: 50%;
    background-color: rgb(255, 221, 12);
    position: absolute;
    width: 224px;
    height: 224px;
    left: calc(50vw - 458px);
    top: 1186px;
    z-index: -1;
   -webkit-box-shadow: -1px 5px 12px 1px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -1px 5px 12px 1px rgba(0, 0, 0, 0.18);
    box-shadow: -1px 5px 12px 1px rgba(0, 0, 0, 0.18);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.section3_ellipse:before .section3_box1:hover ~ .section3_ellipse  {
    left: calc(50vw - 458px);
}
.section3_box2:hover ~ .section3_ellipse  {
    left: calc(50vw - 70px);
}
.section3_box3:hover ~ .section3_ellipse {
    left: calc(50vw + 330px);
}

.section3_p {
    margin: 0 50px ;
    font-size: 18px;
    color: rgb(36, 36, 36);
    line-height: 1.15;
    letter-spacing: 1px;
}

.section3_box1     {
    padding-top: 28px;
    padding-left: 0px;
}

.section3_box1_p {
    padding-top: 40px;
    margin-left: 25px;
    width: 240px;
}

.section3_box2     {
    padding-top: 31px;
    margin-left: 16px;
}

.section3_box2 > p {
    padding-top: 42px;
    padding-left: 28px;
    width: 260px;
}
.section3_box3     {
    padding-top: 6px;
    margin-left: 29px;
}
.section3_box3 > p {
    padding-top: 40px;
    padding-left: 30px;
}
